HEAD
fastapi
uvicorn
httpx
faiss-cpu
python-dotenv
pydantic
sudachipy
SudachiDict-core
langchain
langchain-community
langchain-core
langchain-text-splitters
google-api-python-client
google-auth
google-auth-oauthlib

fastapi
uvicorn
httpx
faiss-cpu
python-dotenv
pydantic
sudachipy
SudachiDict-core
langchain
langchain-community
langchain-core
langchain-text-splitters
google-api-python-client
google-auth
google-auth-oauthlib

