fastapi
uvicorn
httpx
faiss-cpu
python-dotenv
pydantic
sudachipy
SudachiDict-core
sentence-transformers
langchain
langchain-community
langchain-core
langchain-text-splitters
google-api-python-client
google-auth
google-auth-oauthlib
